In [41]:
import numpy as np
import pandas as pd

In [42]:
data = pd.read_csv("1429_1.csv")
data

C:\Users\ACER\AppData\Local\Temp\ipykernel_29732\3360364937.py:1: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("1429_1.csv")

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34655,AVpfiBlyLJeJML43-4Tp,NaN,B006GWO5WK,Amazon,"Computers/Tablets & Networking,Tablet & eBook ...",newamazonkindlefirehd9wpowerfastadaptercharger...,"Amazon Digital Services, Inc",2012-09-18T00:00:00Z,NaN,2015-08-29T00:00:00Z,...,NaN,NaN,NaN,3.0,http://www.amazon.com/Amazon-PowerFast-Adapter...,This is not appreciably faster than any other ...,Not appreciably faster than any other 1.8A cha...,NaN,NaN,Kris
34656,AVpfiBlyLJeJML43-4Tp,NaN,B006GWO5WK,Amazon,"Computers/Tablets & Networking,Tablet & eBook ...",newamazonkindlefirehd9wpowerfastadaptercharger...,"Amazon Digital Services, Inc",2012-11-21T00:00:00Z,NaN,2015-09-02T00:00:00Z,...,NaN,NaN,NaN,1.0,http://www.amazon.com/Amazon-PowerFast-Adapter...,Amazon should include this charger with the Ki...,Should be included,NaN,NaN,Jonathan Stewart
34657,AVpfiBlyLJeJML43-4Tp,NaN,B006GWO5WK,Amazon,"Computers/Tablets & Networking,Tablet & eBook ...",newamazonkindlefirehd9wpowerfastadaptercharger...,"Amazon Digital Services, Inc",2012-10-19T00:00:00Z,NaN,2015-09-04T00:00:00Z,...,NaN,NaN,NaN,1.0,http://www.amazon.com/Amazon-PowerFast-Adapter...,Love my Kindle Fire but I am really disappoint...,Disappointing Charger,NaN,NaN,J Lawson
34658,AVpfiBlyLJeJML43-4Tp,NaN,B006GWO5WK,Amazon,"Computers/Tablets & Networking,Tablet & eBook ...",newamazonkindlefirehd9wpowerfastadaptercharger...,"Amazon Digital Services, Inc",2012-10-31T00:00:00Z,NaN,2015-09-01T00:00:00Z,...,NaN,NaN,NaN,1.0,http://www.amazon.com/Amazon-PowerFast-Adapter...,I was surprised to find it did not come with a...,Not worth the money,NaN,NaN,Just the Buyer
34659,AVpfiBlyLJeJML43-4Tp,NaN,B006GWO5WK,Amazon,"Computers/Tablets & Networking,Tablet & eBook ...",newamazonkindlefirehd9wpowerfastadaptercharger...,"Amazon Digital Services, Inc",2012-12-23T00:00:00Z,NaN,2015-11-01T00:00:00Z,...,NaN,NaN,NaN,1.0,http://www.amazon.com/Amazon-PowerFast-Adapter...,to spite the fact that i have nothing but good...,as with everyone else,NaN,NaN,sandi

In [43]:
df = data[['id','name','categories','reviews.rating','reviews.username']]
df

,id,name,categories,reviews.rating,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",4.0,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,explore42
...,...,...,...,...,...
34655,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",3.0,Kris
34656,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,Jonathan Stewart
34657,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,J Lawson
34658,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,Just the Buyer
34659,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,sandi

In [44]:
df.isnull().sum()

id                     0
name                6760
categories             0
reviews.rating        33
reviews.username       2
dtype: int64

In [45]:
df.columns = ['product_id','product_name','categories','rating','username']

In [46]:
product_details = df[['username','product_name','categories']]
product_details = product_details.drop_duplicates(subset = ['username'])
product_details

,username,product_name,categories
0,Adapter,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta..."
1,truman,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta..."
2,DaveZ,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta..."
3,Shacks,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta..."
4,explore42,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta..."
...,...,...,...
34652,JF,NaN,"Computers/Tablets & Networking,Tablet & eBook ..."
34654,mir_,NaN,"Computers/Tablets & Networking,Tablet & eBook ..."
34656,Jonathan Stewart,NaN,"Computers/Tablets & Networking,Tablet & eBook ..."
34657,J Lawson,NaN,"Computers/Tablets & Networking,Tablet & eBook ..."
34658,Just the Buyer,NaN,"Computers/Tablets & Networking,Tablet & eBook ..."

In [47]:
df = df.dropna(subset=['rating'])
df

,product_id,product_name,categories,rating,username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",4.0,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",5.0,explore42
...,...,...,...,...,...
34655,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",3.0,Kris
34656,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,Jonathan Stewart
34657,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,J Lawson
34658,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,Just the Buyer
34659,AVpfiBlyLJeJML43-4Tp,NaN,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,sandi

In [48]:
product_data = pd.DataFrame(df.groupby('username')['rating'].mean())
product_data['Number of ratings'] = df.groupby('username')['rating'].count().values
product_data

                rating  Number of ratings
username
.                  5.0                  1
000G               5.0                  1
00100z             5.0                  1
007Shopper         5.0                  1
00Gambler          5.0                  1
...                ...                ...
zoomzoommonkey     3.0                  1
zphil              5.0                  1
zsko91             5.0                  1
zukecruiser        5.0                  1
zumba              5.0                  1

[26766 rows x 2 columns]

In [49]:
product_data.describe()

             rating  Number of ratings
count  26766.000000       26766.000000
mean       4.578502           1.293619
std        0.724404           2.063964
min        1.000000           1.000000
25%        4.000000           1.000000
50%        5.000000           1.000000
75%        5.000000           1.000000
max        5.000000         138.000000

In [50]:
product_data = product_data[product_data['Number of ratings'] >= 20]
product_data

                   rating  Number of ratings
username
Alex             4.500000                 34
Alexa            4.523810                 21
Amazon Customer  4.421053                 57
Andy             4.656250                 32
Anonymous        4.586957                 46
Bill             4.655172                 58
Bobby            4.444444                 27
Brad             4.541667                 24
Brian            4.583333                 24
Chris            4.677419                 93
Chuck            4.458333                 24
Cindy            4.500000                 20
Danny            4.714286                 21
Dave             4.600000                 70
David            4.642857                 42
Debbie           4.560000                 25
Doug             4.629630                 27
Eric             4.541667                 24
Fire             4.583333                 24
Frank            4.750000                 20
Fred             4.400000                 25
Grandma          4.750000                 20
Happy            4.538462                 26
Jack             4.500000                 22
Jake             4.681818                 22
James            4.558824                 34
Jason            4.645161                 31
Jeff             4.612903                 31
Jenn             4.375000                 24
Jess             4.888889                 27
Joey             4.772727                 22
John             4.705882                 85
Josh             4.461538                 26
Justin           4.840000                 25
Kevin            4.531250                 32
Lisa             4.666667                 33
Mark             4.657895                 38
Mary             4.700000                 20
Matt             4.625000                 40
Mike             4.572464                138
Mimi             4.692308                 26
Nana             4.666667                 21
Nick             4.658537                 41
Nikki            4.190476                 21
Patrick          4.650000                 20
Patty            4.681818                 22
Paul             4.678571                 28
Rich             4.625000                 32
Rick             4.346154                 52
Robert           4.636364                 33
Ryan             4.608696                 23
Sandy            4.370370                 27
Scott            4.629630                 27
Steve            4.571429                 49
Susan            4.400000                 20
Tony             4.512195                 41
mike             4.700000                 20

In [51]:
matrix_df = df[['username','rating','product_id']]
matrix_df

               username  rating            product_id
0               Adapter     5.0  AVqkIhwDv8e3D1O-lebb
1                truman     5.0  AVqkIhwDv8e3D1O-lebb
2                 DaveZ     5.0  AVqkIhwDv8e3D1O-lebb
3                Shacks     4.0  AVqkIhwDv8e3D1O-lebb
4             explore42     5.0  AVqkIhwDv8e3D1O-lebb
...                 ...     ...                   ...
34655              Kris     3.0  AVpfiBlyLJeJML43-4Tp
34656  Jonathan Stewart     1.0  AVpfiBlyLJeJML43-4Tp
34657          J Lawson     1.0  AVpfiBlyLJeJML43-4Tp
34658    Just the Buyer     1.0  AVpfiBlyLJeJML43-4Tp
34659             sandi     1.0  AVpfiBlyLJeJML43-4Tp

[34627 rows x 3 columns]

In [52]:
matrix_df = matrix_df[matrix_df['username'].isin(product_data.index)]
matrix_df

              username  rating            product_id
26                Dave     4.0  AVqkIhwDv8e3D1O-lebb
27               James     5.0  AVqkIhwDv8e3D1O-lebb
44               Chris     5.0  AVqkIhwDv8e3D1O-lebb
67                Matt     4.0  AVqkIhwDv8e3D1O-lebb
72                Andy     5.0  AVqkIhwDv8e3D1O-lebb
...                ...     ...                   ...
34581             Matt     5.0  AV1YE_muvKc47QAVgpwE
34618             Tony     5.0  AV1YE_muvKc47QAVgpwE
34623             Jack     4.0  AV1YE_muvKc47QAVgpwE
34635            David     5.0  AVpf_znpilAPnD_xlvAF
34642  Amazon Customer     5.0  AVpggqsrLJeJML43O5zp

[1937 rows x 3 columns]

In [53]:
pivot_df = matrix_df.pivot_table(index='product_id',columns='username',values='rating').fillna(0)
pivot_df

username,Alex,Alexa,Amazon Customer,Andy,Anonymous,Bill,Bobby,Brad,Brian,Chris,...,Rich,Rick,Robert,Ryan,Sandy,Scott,Steve,Susan,Tony,mike
product_id,,,,,,,,,,,,,,,,,,,,,
AV1YE_muvKc47QAVgpwE,4.000000,0.00,0.000000,4.888889,5.000000,4.875000,4.666667,4.75,4.000,4.705882,...,4.833333,4.555556,5.000000,4.666667,5.000,4.800000,4.583333,3.000000,4.625000,4.750000
AV1YnR7wglJLPUi8IJmi,4.500000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,4.000,5.000000,...,0.000000,1.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AV1YnRtnglJLPUi8IJmV,4.600000,0.00,0.000000,4.500000,5.000000,4.769231,4.750000,5.00,5.000,4.555556,...,5.000000,4.000000,4.000000,0.000000,4.250,5.000000,5.000000,4.000000,4.666667,5.000000
AVpfIfGA1cnluZ0-emyp,0.000000,0.00,3.666667,0.000000,0.000000,0.000000,0.000000,0.00,0.000,2.500000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVpf_znpilAPnD_xlvAF,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVpfl8cLLJeJML43AE3S,4.250000,4.55,0.000000,4.500000,4.888889,4.538462,4.666667,5.00,4.625,4.789474,...,4.750000,4.250000,4.777778,4.625000,4.600,4.666667,4.444444,4.500000,4.615385,5.000000
AVpfpK8KLJeJML43BCuD,0.000000,4.00,0.000000,0.000000,5.000000,0.000000,0.000000,0.00,5.000,0.000000,...,4.000000,4.333333,0.000000,0.000000,5.000,0.000000,5.000000,0.000000,5.000000,5.000000
AVpftoij1cnluZ0-p5n2,0.000000,0.00,0.000000,0.000000,5.000000,5.000000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,5.000000,0.000000,0.000000,0.000000
AVpgdkC8ilAPnD_xsvyi,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVpggqsrLJeJML43O5zp,0.000000,0.00,5.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVph0EeEilAPnD_x9myq,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVphPmHuilAPnD_x3E5h,5.000000,0.00,0.000000,0.000000,5.000000,5.000000,5.000000,0.00,5.000,5.000000,...,5.000000,4.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,5.000000,0.000000
AVphgVaX1cnluZ0-DR74,4.545455,0.00,0.000000,4.500000,4.187500,4.545455,4.800000,4.60,4.250,4.730769,...,4.166667,4.437500,4.200000,4.428571,4.125,4.454545,4.400000,4.428571,3.600000,4.333333
AVpidLjVilAPnD_xEVpI,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,3.00,0.000,5.000000,...,5.000000,4.000000,0.000000,0.000000,3.000,0.000000,4.000000,0.000000,0.000000,0.000000
AVpjEN4jLJeJML43rpUe,4.500000,0.00,0.000000,5.000000,4.250000,4.500000,5.000000,4.50,5.000,5.000000,...,4.000000,5.000000,4.200000,4.000000,5.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVqVGWLKnnc1JgDc3jF1,4.000000,0.00,0.000000,5.000000,5.000000,0.000000,4.333333,4.00,5.000,4.800000,...,0.000000,5.000000,5.000000,0.000000,5.000,4.000000,5.000000,4.000000,4.000000,0.000000
AVqVGWQDv8e3D1O-ldFr,0.000000,0.00,0.000000,0.000000,0.000000,4.500000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,5.000000,0.000000,0.000000
AVqVGZNvQMlgsOJE6eUY,0.000000,0.00,0.000000,5.000000,0.000000,4.000000,0.000000,0.00,0.000,4.333333,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,5.000000,0.000000,0.000000,0.000000
AVqVGZO3nnc1JgDc3jGK,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,4.000000,0.00,0.000,5.000000,...,0.000000,5.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVqkIhwDv8e3D1O-lebb,4.750000,0.00,0.000000,4.500000,4.333333,4.500000,4.000000,4.00,5.000,4.600000,...,4.500000,4.666667,5.000000,5.000000,4.250,4.750000,4.500000,5.000000,0.000000,4.750000
AVqkIiKWnnc1JgDc3khH,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,5.00,0.000,0.000000,...,0.000000,0.000000,0.000000,5.000000,0.000,0.000000,0.000000,4.000000,0.000000,0.000000
AVsRjfwAU2_QcyX9PHqe,0.000000,0.00,4.549020,0.000000,0.000000,5.000000,1.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVzRlorb-jtxr-f3ygvQ,0.000000,0.00,3.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
AVzvXXwEvKc47QAVfRhx,0.000000,0.00,1.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000

In [58]:
def recommend(prod_id):
    #the data set im using is very large so Im limiting the algorithm to only use 1000 rows of it
    #you can increase the amount of products that pop up as recommended by increasing the number
    #of rows included
    recomm_products = pivot_df.corrwith(pivot_df[prod_id]).sort_values(ascending=False)[:2000]
    t_data = product_details[product_details['username'].isin(recomm_products.index)].copy()
    t_data['corr'] = t_data['username'].apply(lambda x : recomm_products[x])
    t_data = t_data.sort_values(by='corr',ascending=False)
    return t_data

recommend("Kevin").drop_duplicates('product_name')

,username,product_name,categories,corr
3814,Kevin,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...","Fire Tablets,Tablets,Computers & Tablets,All T...",1.000000
373,Paul,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",0.925117
3289,Chuck,"All-New Kindle E-reader - Black, 6 Glare-Free ...","Amazon Devices & Accessories,Amazon Device Acc...",0.690647
22051,Alexa,"Echo (White),,,\r\nEcho (White),,,","Stereos,Remote Controls,Amazon Echo,Audio Dock...",0.473198
3043,Fire,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Tablets,Fire Tablets,Electronics,Computers,Com...",0.389799
3078,Amazon Customer,Amazon 5W USB Official OEM Charger and Power A...,"Amazon Devices & Accessories,Amazon Device Acc...",-0.267929

In [59]:
recommend("Matt").drop_duplicates('product_name')

,username,product_name,categories,corr
67,Matt,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",1.000000
3507,Jeff,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...","Electronics,iPad & Tablets,All Tablets,Compute...",0.632655
3289,Chuck,"All-New Kindle E-reader - Black, 6 Glare-Free ...","Amazon Devices & Accessories,Amazon Device Acc...",0.463501
3043,Fire,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Tablets,Fire Tablets,Electronics,Computers,Com...",0.394248
22051,Alexa,"Echo (White),,,\r\nEcho (White),,,","Stereos,Remote Controls,Amazon Echo,Audio Dock...",0.136697
3078,Amazon Customer,Amazon 5W USB Official OEM Charger and Power A...,"Amazon Devices & Accessories,Amazon Device Acc...",-0.328301

In [60]:
recommend("Andy").drop_duplicates('product_name')

,username,product_name,categories,corr
72,Andy,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",1.000000
3507,Jeff,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...","Electronics,iPad & Tablets,All Tablets,Compute...",0.815330
3289,Chuck,"All-New Kindle E-reader - Black, 6 Glare-Free ...","Amazon Devices & Accessories,Amazon Device Acc...",0.473508
3043,Fire,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Tablets,Fire Tablets,Electronics,Computers,Com...",0.258016
22051,Alexa,"Echo (White),,,\r\nEcho (White),,,","Stereos,Remote Controls,Amazon Echo,Audio Dock...",0.109747
3078,Amazon Customer,Amazon 5W USB Official OEM Charger and Power A...,"Amazon Devices & Accessories,Amazon Device Acc...",-0.329115